body {
	background: radial-gradient(
		100% 100% at 50% 100%,
		#1f1e1b 21.52%,
		#1b1a17 100%
	);
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1220px;
	padding: 0 15px;
	margin: 0 auto;
}

// ========================================================================================
// ! header
.header {
}
.header__scroll {
	padding: 20px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;

	background: rgba(0, 0, 0, 0);
	backdrop-filter: blur(5px);
	box-shadow: 0px -10px 20px orange;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	h1 {
		background: url(../img/NRI0.gif) no-repeat right;
		background-size: cover;

		color: orange;

		transition: 0.5s;

		span {
			margin-left: 5px;
			font-weight: 700;
			font-size: 32px;
			color: red;

			font-family: "PermanentMarker";
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}
.nav__item {
	display: flex;
}
.nav__link {
	margin: 0 30px;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 20px;
	line-height: 21px;
	cursor: pointer;
	transition: 0.4s;
	color: #fff;
}
.nav__link:hover {
	color: #ff8303;
	text-shadow: 0px 0px 10px #ff8303, 0px 0px 10px #ff8303, 0px 0px 10px #ff8303;
}

.header__body {
	margin: 120px 0;
}
.header__body__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.author__date {
}
.author__name {
	font-weight: 900;
	font-size: 64px;
	line-height: 67px;

	color: #ff8303;
	margin-bottom: 22px;
}
.author__spec {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 42px;

	color: #f0e3ca;
	margin-bottom: 22px;
}
.author__info {
	font-weight: 400;
	font-size: 20px;
	line-height: 21px;

	color: #f0e3ca;
}

.author__img {
	background: url(../img/codepicture.png) center no-repeat;
	background-size: cover;
	padding: 50px 80px;

	img {
		position: relative;
		left: -70px;
		width: 400px;
	}
}

// ! section 1
.block__two {
	margin: 70px 0;
	.content {
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			max-width: 904px;
			margin-left: 30px;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 25px;

			color: #f0e3ca;
		}
	}
}

// ! section three
.block__three {
	margin: 70px 0;
	.content {
		display: flex;
		flex-direction: column;

		.title {
			font-style: normal;
			font-weight: 700;
			font-size: 32px;
			line-height: 34px;

			text-align: center;

			color: #ff8303;
			margin-bottom: 35px;
		}
		.boxes {
			display: flex;
			justify-content: space-between;
		}
		.box {
			background: #21201d;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 47px 40px;

			img {
				margin-bottom: 20px;
			}

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 32px;
				line-height: 37px;
				text-align: center;

				color: #ffffff;
			}
		}
	}
}

// ! section 4
.block__four {
	margin: 70px 0;

	.content {
		display: flex;
		flex-direction: column;
	}
	.content__title {
		text-align: center;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 34px;
		text-align: center;

		color: #ff8303;
		margin-bottom: 35px;
	}
	.boxes {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.box {
		width: 320px;
		height: 320px;
		text-align: center;
		padding: 40px 50px;
		background: rgba(33, 32, 29, 0.98);
		margin: 30px;

		.title {
			font-style: normal;
			font-weight: 700;
			font-size: 32px;
			line-height: 34px;

			color: #ff8303;
			margin-bottom: 20px;
		}

		.lang {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 17px;

			color: #f0e3ca;
		}

		hr {
			height: 1px;
			width: 100%;
			background: #ff8303;
			margin: 15px 10px;
		}
		.text {
			text-align: start;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 17px;

			color: #f0e3ca;
			margin-bottom: 20px;
		}

		button {
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 15px;

			color: #f0e3ca;
			background: #32312e;
			border-radius: 4px;
			padding: 8px 12px;
		}
	}
}

// ! footer
.footer {
	margin: 70px 0;
	.content {
		display: flex;
		justify-content: center;
	}
	.header__logo {
		margin-bottom: 20px;
		h1 {
			background: url(../img/NRI0.gif) no-repeat right;
			background-size: cover;

			color: orange;

			transition: 0.5s;

			span {
				margin-left: 5px;
				font-weight: 700;
				font-size: 32px;
				color: red;

				font-family: "PermanentMarker";
			}

			&:hover {
				transform: scale(1.2);
			}
		}
	}
	.text {
		max-width: 230px;
		font-style: normal;
		font-size: 20px;
		line-height: 21px;
		color: #f0e3ca;
	}
	.right {
		max-width: 400px;
		margin-left: 65px;
		.info {
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 34px;

			color: #ff8303;
			margin-bottom: 20px;
		}
		.contact {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.first {
				width: 300px;
			}
			.second {
				width: 200px;
			}

			.link {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 25px;

				color: #ff8303;
				background-size: cover;
				display: inline-block;
				width: 100%;
				// height: 35px;
				margin: 15px 0;
			}
			.email {
				background: url(../img/email.svg) left no-repeat;
				padding-left: 37px;
			}
			.git {
				background: url(../img/git.svg) left no-repeat;
				padding-left: 37px;
			}
			.insta {
				background: url(../img/insta.svg) left no-repeat;
				padding-left: 37px;
			}
			.figma {
				background: url(../img/figma.svg) left no-repeat;
				padding-left: 37px;
			}
		}
	}
}
